
input[type=file]::-webkit-file-upload-button{
    color: #ffffff;
    background: #2396f2;
    border: 1px solid #2396f2;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}


